<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mí...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Sarah Alonso Grande</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam cumque explicabo consequuntur et, eveniet laboriosam officiis optio velit odio, illo quam maxime quidem laborum. Enim neque temporibus quidem praesentium!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dignissimos sit aliquid fuga tempore minus nam, doloribus sequi tenetur hic blanditiis adipisci impedit? Fugit veniam laudantium magni minima, asperiores provident.
    </ion-card-content>
  </ion-card>

</ion-content>
